# Strategy

1. We used opensource Llama 2 70B model (https://huggingface.co/spaces/ysharma/Explore_llamav2_with_TGI) to generate additional datapoints for classes that had less datapoints ("More Likely" and "Necessarily True").
2. We gave the Llama 2 model some examples of our sentences and the structure we want, and asked it to make similar data points.
3. These data points were further verified by us manually to look for any outliers.

In [1]:
!ls ../datasets/artificial_adept/

3.csv  4.csv

In [5]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import json

In [18]:
adept_data_path = "../datasets/adept/train-dev-test-split"
split = "train"
artificial_adept_data_path = "../datasets/artificial_adept"

In [19]:
train_data = json.load(open('{}/{}.json'.format(adept_data_path, split), 'r'))

In [20]:
df_train = pd.DataFrame(train_data)
df_train.head()

,sentence1,sentence2,modifier,noun,label,idx
0,The effect of sleeping is rejuvenation.,The effect of additional sleeping is rejuvenat...,additional,sleeping,3,13484
1,A toothbrush is for fresh breath.,A regular toothbrush is for fresh breath.,regular,toothbrush,2,2620
2,A scene is painted.,A negative scene is painted.,negative,scene,2,3324
3,A bone breaks a tooth.,An alleged bone breaks a tooth.,alleged,bone,2,10610
4,A trip causes a happening.,A fabulous trip causes a happening.,fabulous,trip,2,14917

In [25]:
df_4 = pd.read_csv("{}/{}.csv".format(artificial_adept_data_path, "4"))
df_4["label"] = 4
df_3 = pd.read_csv("{}/{}.csv".format(artificial_adept_data_path, "3"))
df_3["label"] = 3

In [26]:
df_4.columns

Index(['Noun', 'Adjective Modifier', 'Verb', 'Sentence', 'label'], dtype='object')

In [27]:
df_4.rename({"Noun": "noun", "Adjective Modifier": "modifier", "Sentence": "sentence2"}, axis=1, inplace=True)
df_3.rename({"Noun": "noun", "Adjective Modifier": "modifier", "Sentence": "sentence2"}, axis=1, inplace=True)

In [28]:
df_artificial = pd.concat([df_3, df_4])
df_artificial.head(2)

,noun,modifier,Verb,sentence2,label
0,Circuit,Short,Causes,A short circuit causes a power outage.,3
1,Headphones,Comfortable,Listen,Comfortable headphones listen to podcasts.,3

In [29]:
df_artificial.shape

(177, 5)

In [30]:
df_combined = pd.concat([df_artificial, df_train])
df_combined.head(2)

,noun,modifier,Verb,sentence2,label,sentence1,idx
0,Circuit,Short,Causes,A short circuit causes a power outage.,3,NaN,NaN
1,Headphones,Comfortable,Listen,Comfortable headphones listen to podcasts.,3,NaN,NaN

In [31]:
df_combined.tail(2)

,noun,modifier,Verb,sentence2,label,sentence1,idx
12890,farmer,ignorant,NaN,An ignorant farmer shakes a tree.,2,A farmer shakes a tree.,8846.0
12891,closet,essential,NaN,An essential closet is used for keeping your c...,2,A closet is used for keeping your clothes in.,13281.0

In [33]:
df_combined.to_csv('{}/artificial_train_combined.csv'.format(artificial_adept_data_path), index=False)